<header class="container-fluid">
    <div class="row justify-content-lg-center align-items-lg-center">
      <div class="col-md-6 d-flex flex-column text-white text-center align-items-center">
        <h1 class="">اكتشف المكان</h1>
        <h1 class="pb-3">الذي تحب ان تعيش فيه</h1>
        <input type="text"  class="form-control text-muted w-75" placeholder="اكتب اسم المشروع العقاري او المنطقه "/>
        <button class="btn text-center text-white fs-5 mt-3 w-75">بحث</button>
      </div>
       <div class="col-md-3 ">
        <form class="bg-white mt-4 py-3">
          <h4 class="text-center px-3">دعنا نتواصل لنساعدكفي اختيار العقار المناسب 905526103000+</h4>
          <div class="mt-3 mx-3">
            <label for="exampleInputEmail1" class="form-label">الاسم</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mt-3 mx-3 ">
            <label for="exampleInputPassword1" class="form-label">رقم الهاتف </label>
            <input type="tel" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mt-3 mx-3 pb-3">
            <label for="exampleInputPassword1" class="form-label">البريد الالكتروني </label>
            <input type="email" class="form-control" id="exampleInputPassword1">
          </div>
          <button class="btn rounded-3 text-white px-5 mx-3">ارسال</button>
        </form>
       </div>
    </div>
</header>
<!--
  <section>

  </section>
 -->
