section{
  background-image: url(../../../assets/images/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 3rem;
}
form{
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
button{
  background-color:#14a800;
}
h1{
  font-size: 3rem;
}
