<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/projectimage/12424767-5abf431981.jpg" alt="">
            </div>
            <div class="col-6">
                <img src="../../assets/projectimage/7836810-0fcebaf3db.jpg" alt="">
                <img src="../../assets/projectimage/executive-ocean-view-room-v16458739-1440-768x512.jpg" alt="">
                <img src="../../assets/projectimage/OIP.jpg" alt="">
                <img src="../../assets/projectimage/turkey.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                
            </div>
        </div>
    </div>
</header>