i.top{
        font-size:2rem;
        color: gray;
        
}

a.whats{
    background-color: rgb(11, 204, 11);
    height: 50px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.whatsapp{
    color: white;
    font-size: 1.6rem;
}